{
  "CN": "kubernetes",
  "hosts": [
    "worker0",
    "worker1",
    "worker2",
    "10.32.0.1",
    "WORKER0IP",
    "WORKER1IP",
    "ETCD0IP",
    "ETCD1IP",
    "ETCD2IP",
    "CTRL0IP",
    "CTRL1IP",
    "CTRL2IP",
    "KUBERNETES_PUBLIC_IP",
    "127.0.0.1"
  ],
  "key": {
    "algo": "rsa",
    "size": 2048
  },
  "names": [
    {
      "C": "US",
      "L": "Portland",
      "O": "Kubernetes",
      "OU": "Cluster",
      "ST": "Oregon"
    }
  ]
}
