ansible_connection: ssh 
ansible_ssh_user: shortjay

etcd:
  etcd0: ETCD0_IP
  etcd1: ETCD1_IP
  etcd2: ETCD2_IP

ctrl:
  ctrl0: CTRL0_IP
  ctrl1: CTRL1_IP
  ctrl2: CTRL2_IP

worker:
  worker0: WORKER0_IP
  worker1: WORKER1_IP