resource "google_compute_route" "kubernetes-route-10-200-0-0-24" {
  name        = "kubernetes-route-10-200-0-0-24"
  dest_range  = "DESTNET1/24"
  network     = "kubernetes"
  next_hop_ip = "IP1"
  priority = 1000
}

resource "google_compute_route" "kubernetes-route-10-200-1-0-24" {
  name        = "kubernetes-route-10-200-1-0-24"
  dest_range  = "DESTNET2/24"
  network     = "kubernetes"
  next_hop_ip = "IP2"
  priority = 1000
}
